body {
    margin: 0;
    padding: 0;
    /* background-color: #e1e8eb; */
}

/* .Loader{
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
/* .Loader-imag{
    width: 100%;
    height: 100%;
    z-index: 999;  
}
.Loader-imag img {
    width: 100%;
    height: 100%;
    z-index: 999;
} */
.Container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.Navbar-Container {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1e8eb;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #00000020, -1px -1px 12px #00000020;
}

nav {}

.Rightside {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Berand {
    display: flex;
    font-size: 24px;
    font-weight: 600;
}

.Navbar-Items__Container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
}

.Navbar-Items {}

.Navbar-Items__text {
    color: #000;
    text-decoration: none;
}

.theme {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 1px 1px 4px #00000020, -1px -1px 4px #00000020;

}

.Active {
    display: block !important;
    height: 36px;
}

.dark,
.Light {
    display: none;
    color: #fff;
}


.bi-moon {}

.Light {}

.bi-brightness-high {}

.Leftside {}

.LoginSinup {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: #7952b3;
    color: #000;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

.LoginSinup__Icon {
    font-size: 20px;
}

.bi-person {}

.LoginSinup__Text {}





@media only screen and (max-width: 1200px) {
    .Container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 992px) {
    .Container {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .Container {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 576px) {
    .Container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}